---
layout: page
title: Experience
permalink: /experience.html
experiences:
    - title: Work Experiences
      items:
        - title: Co-Founder & System Architect
          company: CheaprEats
          company_link: https://cheapreats.com/
          duration: Jan 2018 - Present
          skills:
            - javascript
            - react
            - graphql
            - node-js
            - mongodb
          description: >
            Co-founded CheaprEats, responsible for designing and maintaining software systems.
        - title: Workshop Instructor & MSLC Facilitator
          company: University of Toronto
          company_link: https://www.utoronto.ca/
          duration: May 2018 - Present
          skills:
            - python
          description: >
            Lead a 2 session Python workshop for M.Env.Sci students at UTSC, mainly focus on Python, NumPy and Matplotlib. The workshop is certified for graduate student professional development credit. <br/>
            Facilitate study groups weekly at the Math & Statistics Learning Centre at UofT, help students with math & stat problems.
        - title: Website Developer
          company: University of Toronto
          company_link: https://www.utoronto.ca/
          duration: April 2018 - September 2018
          skills:
            - php
          description: >
            Developed a competition management system using PHP Laravel and MySQL for the Statistical Society of Canada.
            Worked with IT operations team to ensure fast and reliable deployment of the application.
        - title: Software Engineering Intern
          company: Trent University
          company_link: https://www.trentu.ca/
          duration: Oct 2017 - May 2018
          skills:
            - javascript
            - socket-io
            - angular
          description: >
            Developed key features for a math collaboration software at UofT & TrentU. The project is presented at TKF conference in Toronto, and used in MSLC at UofT.
        - title: Website Developer Intern
          company: University of Saskatchewan
          company_link: https://www.usask.ca/
          duration: Dec 2013 - Jan 2015
          skills:
            - php
            - mysql
          description: >
            Worked as a web application developer for Catalysis Division of Chemical Institute of Canada.
    - title: Volunteer Experiences
      items:
        - title: Director of IT
          company: Hack The Valley
          company_link: https://hackthevalley.io
          duration: Aug 2017 - Present
          skills:
            - javascript
            - react
            - node-js
          description: >
            One of the primary signing authority of Hack The Valley. Responsible for designing and implementing IT systems.
        - title: Director of IT
          company: TEDxUTSC
          company_link: https://tedxutsc.com
          duration: Aug 2018 - Present
          skills:
            - scss
          description: >
            Responsible for developing and maintaining the website. Manage associates, and develop the conference IT infrastructure.
---

<section>
    <div class="container">
        {% for section in page.experiences %}
            <h2>{{ section.title }}</h2>
            {% for item in section.items %}
                <div class="experience-item">
                    <h3>{{ item.title }} <a href="{{ item.company_link }}"><small>{{ item.company }}</small></a></h3>
                    <div class="skills-row">
                        {% for icon in item.skills %}
                            {% include skill_icon.html icon=icon %}
                        {% endfor %}
                    </div>
                    <small>{{ item.duration }}</small>
                    <div class="description">
                      <p>{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        
    </div>
</section>