.experience-item {
    .skills-row {
        .skill-icon {
            width: 30px;
            transition: all ease 0.3s;
            display: inline-block;
            &:hover {
                transform: scale(1.3);
                transition: all ease 0.3s;
            }
            .skill-icon-img {
                width: 100%;
            }
        }
    }
}