@import 'mixins';
@import 'variables';

header {
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    h1 {
        small {
            color: rgba(0,0,0,0.5);
            font-size: 20px;
        }
    }
}

@include media-query($on-medium) {
    header {
        h1 {
            small {
                display: block;
            }
        }
    }
}

@include media-query($on-small) {
    header {
        h1 {
            small {
                font-size: 16px;
            }
        }
    }
}