@import "variables";
@import "mixins";

.post-content {
    padding-right: 260px;
    padding-bottom: 50px;
    table {
        box-shadow: rgba(0,0,0,0.1) 5px 5px 20px;
        padding: 20px;
        border-radius: 5px;
        td, th {
            padding: 5px 10px 5px 10px;
        }

        td {
            border-bottom: rgba(0,0,0,0.05) 1px solid;
        }

        th {
            background-color: rgba(0,0,0,0.05);
        }
    }
}

.js-toc {
    width: 250px;
    padding-top: 20px;
    float: right;
}

.toc-list {
    li {
        list-style: none;
        font-size: 12px;
    }
}

.is-active-link::before {
    background-color: black !important;
}

.post-tag {
    background-color: rgba(0,0,0,0.05);
    padding: 5px;
    border-radius: 3px;
    color: rgba(0,0,0,0.5);
}

@include media-query($on-medium) {
    .post-content {
        padding-right: 0;
    }

    .js-toc {
        display: none;
    }
}