<button id="mobile-nav-button"><i class="fa fa-angle-down" aria-hidden="true"></i> Navigation</button>
<nav class="navbar">
    <div class="container">
        <ul>
            <li><a href="{% real_path / %}">Home</a></li>
            <li><a href="{% real_path /portfolio.html %}">Portfolio</a></li>
            <li><a href="{% real_path /education.html %}">Education</a></li>
            <li><a href="{% real_path /posts.html %}">Posts</a></li>
            <li><a href="{% real_path /about.html %}">About</a></li>
        </ul>
    </div>
</nav>
</div>