<nav class="navbar">
    <div class="container">
        <ul>
            <li><a href="{% real_path / %}">Home</a></li>
            <li><a href="{% real_path /experience.html %}">Experience</a></li>
            <li><a href="{% real_path /research.html %}">Research</a></li>
            <li><a href="{% real_path /education.html %}">Education</a></li>
            <li><a href="{% real_path /posts.html %}">Posts</a></li>
            <li><a href="{% real_path /contact.html %}">Contact</a></li>
        </ul>
    </div>
</nav>